<aside class="col-3 border border-light bg-white p-2">
    <article class="card mb-3">
        <div class="card-header">
            Recettes
        </div>
        <div class="card-body">
            <p><a href="{{ path('admin_recipes_index') }}">Liste des recettes</a></p>
            <p><a href="{{ path('admin_recipes_add') }}">Ajouter une recette</a></p>
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">
            Difficultés
        </div>
        <div class="card-body">
            <p><a href="{{ path('admin_difficulty_index') }}">Liste des difficultés</a></p>
            <p><a href="{{ path('admin_difficulty_add') }}">Ajouter une difficulté</a></p>
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">
            Unités (ingrédients)
        </div>
        <div class="card-body">
            <p><a href="{{ path('admin_units_index') }}">Liste des unités</a></p>
            <p><a href="{{ path('admin_units_add') }}">Ajouter une unité</a></p>
        </div>
    </article>
    {% if is_granted('ROLE_ADMIN') %}
        <article class="card mb-3">
            <div class="card-header">
                Utilisateurs
            </div>
            <div class="card-body">
                <p><a href="{{ path('admin_users_index') }}">Liste des utilisateurs</a></p>
            </div>
        </article>
    {% endif %}
    <article class="card mb-3">
        <div class="card-header">
            Newsletter
        </div>
        <div class="card-body">
            <p><a href="{{ path('admin_newsletter_list') }}">Liste des newsletters</a></p>
            <p><a href="{{ path('admin_newsletter') }}">Écrire une newsletter</a></p>
        </div>
    </article>
</aside>