{% block javascripts %}
    <script src="{{ asset('assets/js/search.js') }}" defer></script>
{% endblock %}

<!-- Preloader -->
<div id="preloader">
    <i class="circle-preloader"></i>
    <img src="{{ asset('assets/img/core-img/salad.png') }}" alt="recette facile">
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area mb-3">

    <!-- Top Header Area -->
    <div class="top-header-area h-100">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-between">
                <!-- Breaking News -->
                <div class="col-12 col-sm-4">
                    <div class="breaking-news m-2">
                        <div id="breakingNewsTicker" class="ticker">
                            <ul>
                                <li class="text-center"><a style="font-size: 16px;" href="#">Trouve-moi une recette !</a></li>
                                <li class="text-center"><a style="font-size: 16px;" href="#">Astuce cuisine</a></li>
                                <li class="text-center"><a style="font-size: 16px;" href="#">Cuisine du monde</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <a href="{{ path('app_home') }}">
                        <img width="330" src="{{ asset('assets/img/core-img/logo.webp') }}" alt="logo recettes en folie">
                    </a>
                </div>

                <div class="col-12 col-sm-4 mb-2 text-center p-2">
                    {% if app.user %}
                        {% if is_granted('ROLE_RECIPE_ADMIN') %}
                            <a class="p-2 m-3" style="border-bottom: 3px solid #4FCCA3;" href="{{ path('admin_index') }}">Administration</a>
                        {% endif %}
                        <a class="p-2 m-3 linkHeader" href="{{ path('profile_index', {user: app.user.username}) }}">Mon compte</a>
                        <a class="p-2 m-3" href="{{ path('app_logout') }}"><i style="font-size: 18px; color: red;" class="fa fa-power-off"></i></a>
                    {% else %}
                        <a class="p-2 m-3" style="border-bottom: 3px solid #4FCCA3;" href="{{ path('app_login') }}">Connexion</a>
                        <a class="p-2 m-3 linkHeader" href="{{ path('app_register') }}">Inscription</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar Area -->
    <div class="delicious-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <!-- Menu -->
            <nav class="classy-navbar justify-content-center" id="deliciousNav">

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler ml-auto mr-5">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu w-100">

                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <!-- Nav Start -->
                    <div style="background-color: #4FCCA3;" class="classynav justify-content-center h-100">
                        <div class="logoToggler text-center mb-3">
                            <a href="/">
                                <img width="330" src="{{ asset('assets/img/core-img/logo.webp') }}" alt="logo recettes en folie">
                            </a>
                        </div>
                        <ul>
                            {% for category in categories %}
                                {% if category.parent is null %}
                                    <li>
                                        <a class="linkHeader" href="{{ path('recipes_category', {category: category.slug}) }}">{{ category.name }}</a>
                                        {% set childCategories = [] %}
                                        {% for childCategory in categories %}
                                            {% if childCategory.parent == category %}
                                                {% set childCategories = childCategories|merge([childCategory]) %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if childCategories is not empty %}
                                            <ul class="dropdown">
                                                {% for childCategory in childCategories %}
                                                    <li><a class="nav-link" style="text-transform: capitalize" href="{{ path('recipes_sousCategory', {category: category.slug, sCategory: childCategory.slug}) }}">{{ childCategory.name }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                            <li><a class="linkHeader" href="{{ path('app_contact') }}">Contact</a></li>
                        </ul>

                        <!-- Newsletter Form -->
                        <div class="search-btn">
                            <!-- Search Wrapper -->
                            <form id="searchForm" action="{{ path('recipes_search_recipes', {search: ''}) }}" method="POST">
                                <label for="search" class="d-none"></label>
                                <div class="input-group m-2">
                                    <input type="search" class="form-control" id="search" name="search" placeholder="Rechercher une recette..." aria-label="Rechercher une recette..." aria-describedby="searchInput">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="searchInput" data-url="{{ path('recipes_search_recipes', {'search': ''}) }}/"><i class="fa fa-search" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                                <button type="submit" class="d-none"></button>
                            </form>
                        </div>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->