{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col-12 col-sm-6">
                <h1>Mon compte</h1>
                {{ form_start(form) }}
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">@</div>
                        </div>
                        {{ form_row(form.username) }}
                    </div>
                    {{ form_row(form.email) }}
                    <div>
                        <span>Compte vérifié</span>
                        {% if isVerified %}
                            <span>✅</span>
                        {% else %}
                            <span>❌</span>
                            <p>Pour envoyer le lien d'activation cliquer sur <a href="{{ path('resend_verif') }}">ce lien</a></p>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-success my-3">Enregistrer</button>
                {{ form_end(form) }}
                <a href="{{ path('change_password') }}" class="btn btn-info btn-sm">Modifier mon mot de passe</a>
            </div>
            <div class="col-12 col-sm-6">
                <h2>Mes recettes favoris</h2>
                {% if favorites is empty %}
                    <span>Aucune recette dans vos favoris. N'hésitez pas à ajouter les recettes qui vous intéresse dans vos favoris afin de les retrouvez plus facilement !</span>
                {% else %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Recette</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for favorite in favorites %}
                                <tr>
                                    <td><a class="list-group-item list-group-item-action" href="{{ path('recipes_details', {slug: favorite.recipes.slug}) }}">{{ favorite.recipes.title }}</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
        <div class="row my-3">
            <div class="col">
                <h1>Mes recettes</h1>
                {% if recipes|length == 0 %}
                    <div class="my-3">
                        <p>Vous n'avez pas encore publié de recette</p>
                    </div>
                {% else %}
                    <div class="list-group">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Recette</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for recipe in recipes %}
                                <tr>
                                    <td><a class="list-group-item list-group-item-action" href="{{ path('recipes_details', {slug: recipe.slug, category: recipe.categories.parent.slug, sCategory: recipe.categories.slug}) }}">{{ recipe.title }}</a></td>
                                    <td>
                                        <a class="btn btn-3 btn-warning" href="{{ path('profile_recipe_edit', {slug: recipe.slug}) }}"><i class="fa fa-edit"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                <a class="my-3 btn btn-4 btn-success" href="{{ path('profile_recipe_add') }}">Publier une nouvelle recette</a>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" id="deleteUser" data-toggle="modal" data-target="#modal">
                    Supprimer mon compte
                </button>

                <!-- Modal -->
                <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalTitle">Supprimer mon compte</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form method="post">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <span>Après confirmation, votre compte sera désactivé et vous serez automatiquement déconnecté. Nous conserverons vos informations pour une durée maximale de 24 mois, au delà de laquelle elles seront irréversiblement effacées.</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="confirmation-mot-de-passe" class="col-form-label">Mot de passe :</label>
                                        <input name="confirm_delete" type="password" class="form-control" id="confirmation-mot-de-passe" />
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                    <button type="submit" class="btn btn-danger">Confirmer</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
