{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <section class="container-fluid">
        <div class="row m-auto">
            <div class="col-12 col-sm-6">
                <h2 class="mb-5">Mes recettes</h2>
                <div class="row justify-content-center">
                    {% if recipes|length == 0 %}
                        <div class="col-12 text-center">
                            <p>Vous n'avez pas encore publié de recette</p>
                        </div>
                    {% else %}
                        {% for recipe in recipes %}
                            <div class="col-10 col-sm-5">
                                <a href="{{ path('recipes_details', {slug: recipe.slug, category: recipe.categories.parent.slug, sCategory: recipe.categories.slug}) }}">
                                    <div class="single-small-receipe-area d-flex">
                                        <!-- Receipe Thumb -->
                                        <div class="receipe-thumb">
                                            <img src="{% if recipe.images[0] is defined %}{{ asset('assets/uploads/recipes/mini/300x300-' ~ recipe.images[0].name) }}{% else %}{{ asset('assets/img/bg-img/r5.jpg') }}{% endif %}" alt="{{ recipe.title }}">
                                        </div>
                                        <!-- Receipe Content -->
                                        <div class="receipe-content">
                                            <span>{{ recipe.createdAt | date("d/m/Y") }}</span>
                                            <h5>{{ recipe.title }}</h5>
                                            <div class="ratings">
                                                {% set recipeStars = { recipe } %}
                                                {% include '_partials/_stars.html.twig' with recipeStars %}
                                            </div>
                                            {% set nbComment = 0 %}
                                            {% for comment in recipe.comments %}
                                                {% if comment.parent == null %}
                                                    {% set nbComment = nbComment + 1 %}
                                                {% endif %}
                                            {% endfor %}

                                            <p>{{ nbComment }} Commentaire{{ nbComment <= 1 ? '' : 's' }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-2 col-sm-1 my-auto text-center">
                                {% if recipe.recipeStatus.name == 'valide' %}
                                    <i style="font-size: 15px;" class="mb-3 text-success fa fa-check-circle-o"></i>
                                {% elseif recipe.recipeStatus.name == 'en attente' %}
                                    <i style="font-size: 15px;" class="mb-3 text-warning fa fa-clock-o"></i>
                                {% else %}
                                    <i class="fa fa-info-circle text-primary" style="cursor: pointer;" data-toggle="modal" data-target="#modalInformation{{ recipe.id }}"></i>
                                    <br>
                                    <i style="font-size: 15px;" class="mb-3 text-danger fa fa-times-circle-o"></i>
                                {% endif %}
                                <a class="btn btn-sm btn-warning" href="{{ path('profile_recipe_edit', {slug: recipe.slug}) }}"><i class="fa fa-edit"></i></a>
                            </div>
                            <div class="modal fade" id="modalInformation{{ recipe.id }}" tabindex="-1" role="dialog" aria-labelledby="modalInformation{{ recipe.id }}" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Message de l'équipe de modération</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>{{ recipe.recipeStatus.message }}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="col-12 text-center">
                        <a class="my-3 btn delicious-btn" href="{{ path('profile_recipe_add') }}">Publier une nouvelle recette</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 favorites-recipes">
                <h2 class="mb-5">Mes recettes favoris</h2>
                {% if favorites is empty %}
                    <div class="w-75 mb-4">
                        <span>Aucune recette dans vos favoris. N'hésitez pas à ajouter les recettes qui vous intéresse dans vos favoris afin de les retrouvez plus facilement !</span>
                    </div>
                {% else %}
                    <div class="row justify-content-center">
                        {% for favorite in favorites %}
                            <div class="col-12 col-sm-6">
                                <a href="{{ path('recipes_details', {slug: favorite.recipes.slug, category: favorite.recipes.categories.parent.slug, sCategory: favorite.recipes.categories.slug}) }}">
                                    <div class="single-small-receipe-area d-flex">
                                        <!-- Receipe Thumb -->
                                        <div class="receipe-thumb">
                                            <img src="{% if favorite.recipes.images[0] is defined %}{{ asset('assets/uploads/recipes/mini/300x300-' ~ favorite.recipes.images[0].name) }}{% else %}{{ asset('assets/img/bg-img/r5.jpg') }}{% endif %}" alt="{{ favorite.recipes.title }}">
                                        </div>
                                        <!-- Receipe Content -->
                                        <div class="receipe-content">
                                            <span>{{ favorite.recipes.createdAt | date("d/m/Y") }}</span>
                                            <h5>{{ favorite.recipes.title }}</h5>
                                            <div class="ratings">
                                                {% set recipe = favorite.recipes %}
                                                {% set recipeStars = { recipe } %}
                                                {% include '_partials/_stars.html.twig' with recipeStars %}
                                            </div>
                                            {% set nbComment = 0 %}
                                            {% for comment in favorite.recipes.comments %}
                                                {% if comment.parent == null %}
                                                    {% set nbComment = nbComment + 1 %}
                                                {% endif %}
                                            {% endfor %}

                                            <p>{{ nbComment }} Commentaire{{ nbComment <= 1 ? '' : 's' }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="row justify-content-center mt-5">
            <div class="col-12 col-sm-6">
                <h1>Mon compte</h1>
                {{ form_start(form) }}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                    </div>
                    {{ form_row(form.username) }}
                </div>
                {{ form_row(form.email) }}
                <div>
                    <span>Compte vérifié</span>
                    {% if isVerified %}
                        <span>✅</span>
                    {% else %}
                        <span>❌</span>
                        <p>Pour envoyer le lien d'activation cliquer sur <a href="{{ path('resend_verif') }}">ce lien</a></p>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-success my-3">Enregistrer</button>
                {{ form_end(form) }}
                <a href="{{ path('change_password') }}" class="btn btn-info btn-sm">Modifier mon mot de passe</a>
                <br>
                <button type="button" class="my-5 btn btn-danger" id="deleteUser" data-toggle="modal" data-target="#modal">
                    Supprimer mon compte
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!-- Modal -->
                <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalTitle">Supprimer mon compte</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form method="post">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <span>Après confirmation, votre compte sera désactivé et vous serez automatiquement déconnecté. Nous conserverons vos informations pour une durée maximale de 24 mois, au delà de laquelle elles seront irréversiblement effacées.</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="confirmation-mot-de-passe" class="col-form-label">Mot de passe :</label>
                                        <input name="confirm_delete" type="password" class="form-control" id="confirmation-mot-de-passe" />
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                    <button type="submit" class="btn btn-danger">Confirmer</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
