{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col">
                <h1>Mon compte</h1>
                {{ form_start(form) }}
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">@</div>
                        </div>
                        {{ form_row(form.username) }}
                    </div>
                    {{ form_row(form.email) }}
                    <div>
                        <span>Compte vérifié</span>
                        {% if isVerified %}
                            <span>✅</span>
                        {% else %}
                            <span>❌</span>
                            <p>Pour envoyer le lien d'activation cliquer sur <a href="{{ path('resend_verif') }}">ce lien</a></p>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg my-3">Enregistrer</button>
                {{ form_end(form) }}
                <a href="{{ path('change_password') }}" class="btn btn-info btn-sm">Modifier mon mot de passe</a>
            </div>
        </div>
        <div class="row my-3">
            <div class="col">
                <h1>Mes recettes</h1>
                {% if recipes|length == 0 %}
                    <div class="my-3">
                        <p>Vous n'avez pas encore publié de recette</p>
                    </div>
                {% else %}
                    <div class="list-group">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Recette</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for recipe in recipes %}
                                <tr>
                                    <td><a class="list-group-item list-group-item-action" href="{{ path('recipes_details', {slug: recipe.slug}) }}">{{ recipe.title }}</a></td>
                                    <td>
                                        <a class="btn btn-3 btn-warning" href="{{ path('profile_recipe_edit', {slug: recipe.slug}) }}"><i class="fa fa-edit"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                <a class="my-3 btn btn-4 btn-success" href="{{ path('profile_recipe_add') }}">Publier une nouvelle recette</a>
            </div>
        </div>
    </section>
{% endblock %}
