{% extends 'base.html.twig' %}

{% block title %}Compte de {{ user.username }}{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="mb-5">Les recettes de {{ user.username }}</h1>
            </div>
            {% if recipes is empty %}
                <div class="col-12">
                    <p>{{ user.username }} n'a pas encore publié de recette</p>
                </div>
            {% else %}
                {% for recipe in recipes %}
                    <div class="col-12 col-sm-4">
                        <a href="{{ path('recipes_details', {slug: recipe.slug, category: recipe.categories.parent.slug, sCategory: recipe.categories.slug}) }}">
                            <div class="single-small-receipe-area d-flex">
                                <!-- Receipe Thumb -->
                                <div class="receipe-thumb">
                                    <img src="{% if recipe.images[0] is defined %}{{ asset('assets/uploads/recipes/mini/300x300-' ~ recipe.images[0].name) }}{% else %}{{ asset('assets/img/bg-img/r5.webp') }}{% endif %}" alt="{{ recipe.title }}">
                                </div>
                                <!-- Receipe Content -->
                                <div class="receipe-content">
                                    <span>{{ recipe.createdAt | date("d/m/Y") }}</span>
                                    <h5>{{ recipe.title }}</h5>
                                    <div class="ratings">
                                        {% set recipeStars = { recipe } %}
                                        {% include '_partials/_stars.html.twig' with recipeStars %}
                                    </div>
                                    {% set nbComment = 0 %}
                                    {% for comment in recipe.comments %}
                                        {% if comment.parent == null %}
                                            {% set nbComment = nbComment + 1 %}
                                        {% endif %}
                                    {% endfor %}

                                    <p>{{ nbComment }} Commentaire{{ nbComment <= 1 ? '' : 's' }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </section>
{% endblock %}
