{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs (Administration){% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            {% include "_partials/_adminnav.html.twig" %}
            <div class="col">
                <h1>Liste des utilisateurs</h1>
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom d'utilisateur</th>
                        <th>Email</th>
                        <th>Rôle</th>
                        <th>Compte vérifié</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                {% for role in user.roles %}
                                    {% if role == 'ROLE_ADMIN' %}
                                        {% set name = "Administrateur" %}
                                        {% set color = "danger" %}
                                    {% elseif role == "ROLE_RECIPE_ADMIN" %}
                                        {% set name = "Admin recettes" %}
                                        {% set color = "warning" %}
                                    {% else %}
                                        {% set name = "Membre" %}
                                        {% set color = "success" %}
                                    {% endif %}
                                    <span class="badge bg-{{ color }}">{{ name }}</span>
                                {% endfor %}
                            </td>
                            <td>{{ user.isVerified ? '✅' : '❌'}}</td>
                            <td>
                                <a class="btn btn-warning" href="{# path('admin_recipes_edit', {id: recipe.id}) #}"><i class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}
