{% block javascripts %}
    <script src="{{ asset('assets/js/ingredients.js') }}" defer></script>
    <script src="{{ asset('assets/js/steps.js') }}" defer></script>
{% endblock %}

{{ form_start(recipeForm) }}
    {{ form_row(recipeForm.title) }}
    {{ form_row(recipeForm.description) }}
    {{ form_row(recipeForm.preparationTime) }}
    {{ form_row(recipeForm.cookingTime) }}
    {{ form_row(recipeForm.numberOfServings) }}
    {{ form_row(recipeForm.difficultyLevel) }}
    {{ form_row(recipeForm.user) }}

    {% if app.request.attributes.get('_route') == 'admin_recipes_edit' %}
        <h2>Images</h2>
        {% for image in recipe.images %}
            <div class="mb-3">
                <img src="{{ asset('assets/uploads/recipes/mini/300x300-' ~ image.name) }}" alt="{{ recipe.title }}" width="150">
                <a href="{{ path('admin_recipes_delete_image', {id: image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}">Supprimer</a>
            </div>
        {% endfor %}
    {% endif %}

    {{ form_row(recipeForm.images) }}

<div class="my-3 form-group">
    <h2>Ingrédients</h2>
    <ul id="ingredients-list" data-prototype="{{ form_widget(recipeForm.ingredients.vars.prototype)|e('html_attr') }}">
        {% for ingredientForm in recipeForm.ingredients %}
            <li>
                <div class="form-row">
                    <div class="col-md-4">
                        {{ form_row(ingredientForm.quantity) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(ingredientForm.name) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(ingredientForm.unit) }}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <a href="#" class="btn btn-sm btn-success {% if app.request.attributes.get('_route') == 'admin_recipes_edit' %}edit-page{% endif %}" id="add-ingredient" data-url="{{ path('admin_recipes_ingredients_search') }}">Ajouter un ingrédient</a>
</div>

<div class="my-3 form-group">
    <h2>Étapes</h2>
    <ul id="steps-list" data-prototype="{{ form_widget(recipeForm.steps.vars.prototype)|e('html_attr') }}">
        {% for stepForm in recipeForm.steps %}
            <div class="form-row">
                <li class="col-12 my-2">
                    {{ form_row(stepForm.description) }}
                </li>
            </div>
        {% endfor %}
    </ul>
    <a href="#" class="btn btn-sm btn-success" id="add-step">Ajouter une étape</a>
</div>

<button type="submit" class="btn btn-primary btn-lg my-3">{{ button_label|default('Ajouter') }}</button>
{{ form_end(recipeForm) }}