<div style="text-align: center;">
    <a href="{{ absolute_url(path('app_home')) }}">
        <img src="{{ email.image('@images/core-img/logo.webp') }}" alt="Logo" width="305" style="display: block; margin: 0 auto;" />
    </a>
</div>
<h1>{{ newsletter.name }}</h1>
<div>
    {{ newsletter.content|raw }}
</div>

<p>Pour vous désinscrire, cliquez sur ce lien <a href="{{ absolute_url(path('unsubscribe_newsletter', {id: user.id, token: user.validationToken})) }}">Me désinscrire</a></p>