<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Découvrez des recettes faciles et rapides à préparer sur notre site de partage de recettes. Trouvez des idées pour tous les repas de la journée, du petit-déjeuner au dîner, en passant par les desserts.">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %} · Recettes en folie</title>

        <script src="{{ asset('bundles/tarteaucitron.js-1.11.0/tarteaucitron.js') }}"></script>
        <script type="text/javascript">
            tarteaucitron.init({
                "privacyUrl": "", /* Privacy policy url */
                "bodyPosition": "bottom", /* or top to bring it as first element for accessibility */

                "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
                "cookieName": "tarteaucitron", /* Cookie name */

                "orientation": "middle", /* Banner position (top - bottom) */

                "groupServices": false, /* Group services by category */
                "serviceDefaultState": "wait", /* Default state (true - wait - false) */

                "showAlertSmall": false, /* Show the small banner on bottom right */
                "cookieslist": false, /* Show the cookie list */

                "closePopup": false, /* Show a close X on the banner */

                "showIcon": true, /* Show cookie icon to manage cookies */
                //"iconSrc": "", /* Optionnal: URL or base64 encoded image */
                "iconPosition": "BottomRight", /* BottomRight, BottomLeft, TopRight and TopLeft */

                "adblocker": false, /* Show a Warning if an adblocker is detected */

                "DenyAllCta" : true, /* Show the deny all button */
                "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
                "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */

                "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

                "removeCredit": false, /* Remove credit link */
                "moreInfoLink": true, /* Show more info link */

                "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
                "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */

                //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */

                "readmoreLink": "", /* Change the default readmore link */

                "mandatory": true, /* Show a message about mandatory cookies */
                "mandatoryCta": true /* Show the disabled accept button when mandatory on */
            });
        </script>

        <!-- Favicon -->
        <link rel="icon" href="{{ asset('assets/img/core-img/favicon.ico') }}">

        <!-- Core Stylesheet -->
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

        <!-- ##### All Javascript Files ##### -->
        <!-- jQuery-2.2.4 js -->
        <script src="{{ asset('assets/js/jquery/jquery-2.2.4.min.js') }}" defer></script>
        <!-- Popper js -->
        <script src="{{ asset('assets/js/bootstrap/popper.min.js') }}" defer></script>
        <!-- Bootstrap js -->
        <script src="{{ asset('assets/js/bootstrap/bootstrap.min.js') }}" defer></script>
        <!-- All Plugins js -->
        <script src="{{ asset('assets/js/plugins/plugins.js') }}" defer></script>
        <!-- Active js -->
        <script src="{{ asset('assets/js/active.js') }}" defer></script>

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>

        {% include "_partials/_header.html.twig" %}

        {% if app.user and app.user.isVerified == false %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Votre compte n'est pas vérifié</strong>, <a href="{{ path('resend_verif') }}">renvoyer le lien de vérification</a>
            </div>
        {% endif %}

        {% include "_partials/_flash.html.twig" %}

        {% block body %}{% endblock %}

        {% include "_partials/_footer.html.twig" %}

        <script type="text/javascript">
            tarteaucitron.user.gtagUa = 'G-7RFQDD4QKZ';
            // tarteaucitron.user.gtagCrossdomain = ['example.com', 'example2.com'];
            tarteaucitron.user.gtagMore = function () { /* add here your optionnal gtag() */ };
            (tarteaucitron.job = tarteaucitron.job || []).push('gtag');
        </script>
    </body>
</html>
