<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Découvrez des recettes faciles et rapides à préparer sur notre site de partage de recettes. Trouvez des idées pour tous les repas de la journée, du petit-déjeuner au dîner, en passant par les desserts.">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %} · Recettes en folie</title>

        <!-- Favicon -->
        <link rel="icon" href="{{ asset('assets/img/core-img/favicon.ico') }}">

        <!-- Core Stylesheet -->
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

        <!-- ##### All Javascript Files ##### -->
        <!-- jQuery-2.2.4 js -->
        <script src="{{ asset('assets/js/jquery/jquery-2.2.4.min.js') }}" defer></script>
        <!-- Popper js -->
        <script src="{{ asset('assets/js/bootstrap/popper.min.js') }}" defer></script>
        <!-- Bootstrap js -->
        <script src="{{ asset('assets/js/bootstrap/bootstrap.min.js') }}" defer></script>
        <!-- All Plugins js -->
        <script src="{{ asset('assets/js/plugins/plugins.js') }}" defer></script>
        <!-- Active js -->
        <script src="{{ asset('assets/js/active.js') }}" defer></script>

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>

        {% include "_partials/_header.html.twig" %}

        {% block body %}{% endblock %}

        {% include "_partials/_footer.html.twig" %}
    </body>
</html>
