{% extends 'base.html.twig' %}

{% block title %}Recettes {{ parentCategory.slug starts with 'entree' ? 'd\'' : 'de '}}{{ parentCategory.name|capitalize }}{% endblock %}

{% block body %}
    <nav class="navbar navbar-light bg-light" style="justify-content: center!important;">
        <a class="nav-link" style="text-transform: capitalize;" href="{{ path('recipes_category', {category: parentCategory.slug}) }}">
            {{ parentCategory.name }}
        </a>
    </nav>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading mt-3">
                        <h3>Recettes {{ parentCategory.slug starts with 'entree' ? 'd\'' : 'de '}}{{ parentCategory.name|capitalize }}</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                {% for key, category in childCategories %}
                    <div class="col-12 mb-3">
                        <h4>Les recettes {{ key starts with 'entrée' ? 'd\'' : 'de '}}{{ key|capitalize }}</h4>
                    </div>
                    {% if category is not empty %}
                        {% set _recipes = category %}
                        {% include '_partials/_recipes.html.twig' with _recipes %}
                    {% else %}
                        <div class="col-12 mb-3">
                            <span>Aucune recette dans cette catégorie</span>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
