{% extends 'base.html.twig' %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/comments.js') }}" defer></script>
    {% if app.user %}
        <script src="{{ asset('assets/js/stars.js') }}" defer></script>
    {% endif %}
    <script src="{{ asset('assets/js/favorites.js') }}" defer></script>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-light bg-light" style="justify-content: center!important;">
        <a class="nav-link" style="text-transform: capitalize;" href="{{ path('recipes_category', {category: recipe.categories.parent.slug}) }}">
            {{ recipe.categories.parent.name }}
        </a>
        <span>/</span>
        <a class="nav-link" style="text-transform: capitalize;" href="{{ path('recipes_sousCategory', {category: recipe.categories.parent.slug, sCategory: recipe.categories.slug}) }}">
            {{ recipe.categories.name }}
        </a>
    </nav>

    <div class="receipe-post-area pt-3">

        <!-- Receipe Slider -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="receipe-slider owl-carousel">
                        {% for image in recipe.images %}
                            <img class="m-auto {{ (loop.index0 == 0) ? 'active' : '' }}" src="{{ asset('assets/uploads/recipes/') ~ image.name }}" style="width:600px;" alt="{{ recipe.title }}">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Receipe Content Area -->
        <div class="receipe-content-area">
            <div class="container">

                <div class="row">
                    <div class="col-4">
                        <div class="my-5">
                            <span>{{ recipe.createdAt | date('d/m/Y') }}</span>
                        </div>
                    </div>

                    <div class="col-8">
                        <div class="receipe-ratings text-center my-5">
                            <div class="ratings">
                                {% set recipeStars = { recipe } %}
                                {% include '_partials/_stars.html.twig' with recipeStars %}
                            </div>
                            {% if app.user %}
                                {% if favorite is empty %}
                                    <div class="mb-4">
                                        <button class="btn" id="favorite" data-status="false" data-request="{{ path('recipes_favorites_add', {slug: recipe.slug}) }}"><i class="text-success fa fa-bookmark" aria-hidden="true"></i>&nbsp;&nbsp;Ajouter aux favoris</button>
                                    </div>
                                {% else %}
                                    <div class="mb-4">
                                        <button class="btn" id="favorite" data-status="true" data-request="{{ path('recipes_favorites_delete', {slug: recipe.slug}) }}"><i class="text-warning fa fa-bookmark" aria-hidden="true"></i>&nbsp;&nbsp;Enlever des favoris</button>
                                    </div>
                                {% endif %}
                            {% else %}
                                <div class="mb-4">
                                    <button class="btn" id="favorite" data-status="false" data-toggle="modal" data-target="#modal" data-request="{{ path('recipes_favorites_add', {slug: recipe.slug}) }}"><i class="text-success fa fa-bookmark" aria-hidden="true"></i>&nbsp;&nbsp;Ajouter aux favoris</button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-12 receipe-headline">
                        <h2 class="mb-5">{{ recipe.title }}</h2>
                        <h5>{{ recipe.description }}</h5>
                        <div class="receipe-duration mt-5">
                            <h6>Difficulté : {{ recipe.difficultyLevel.name|capitalize }}</h6>
                            <h6>Temps de préparation : {{ recipe.preparationTime }} min</h6>
                            <h6>Temps de cuisson : {{ recipe.cookingTime }} min</h6>
                            <h6>Nombre de portions : {{ recipe.numberOfServings }}</h6>
                        </div>
                        <div class="my-4">
                            Créé par&nbsp;<a href="{{ path('profile_index', {user: recipe.user.username}) }}" class="badge badge-light" style="font-size: 15px;">@{{ recipe.user.username }}</a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Ingredients -->
                    <div class="col-12 col-lg-4">
                        <div class="ingredients">
                            <h4>Ingrédients</h4>
                            {% for ingredient in recipe.ingredients %}
                                <div style="font-size: 18px;">
                                    <span class="font-weight-bold">- {{ ingredient.quantity|number_format(2, '.', '')|trim('0')|trim('.')|replace({'.': ','}) }} {{ ingredient.unit.name == 'pièce' ? '' : ingredient.unit.name }} {{ ingredient.name }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-12 col-lg-8">
                        <!-- Single Preparation Step -->
                        {% set counter = 1 %}
                        {% for step in recipe.steps %}
                            <div class="single-preparation-step d-flex">
                                <h4>0{{ counter }}.</h4>
                                <div style="font-size: 16px;">
                                    {{ step.description|nl2br }}
                                </div>
                            </div>
                            {% set counter = counter + 1 %}
                        {% endfor %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 ingredients">
                        <h4>Commentaires</h4>
                        {% if comments.data is empty %}
                            <span>Aucun commentaire pour l'instant</span>
                        {% endif %}
                        {% for comment in comments.data %}
                            {% if comment.parent == null %}
                                <div class="my-3">
                                    <span>
                                        Publié par&nbsp;
                                        <a href="{{ path('profile_index', {user: comment.user.username}) }}" class="badge badge-light" style="font-size: 15px;">@{{ comment.user.username }}</a>
                                        &nbsp;le {{ comment.createdAt|date("d/m/Y à H:i") }}
                                        {% if comment.createdAt != comment.updatedAt %}
                                            &nbsp;(modifié le {{ comment.updatedAt|date("d/m/Y à H:i") }})
                                        {% endif %}
                                    </span>
                                    <div class="card">
                                        <div class="card-body">
                                            <span class="comment-content">{{ comment.content }}</span>
                                            {% if user == comment.user %}
                                                <a class="float-right edit-comment-btn" href="#" data-request="{{ path('recipes_edit_comment') }}" data-id="{{ comment.id }}" >Modifier</a>
                                            {% endif %}
                                        </div>

                                {% if comment.replies == true %}
                                    {% for reply in comment.replies %}
                                        <div class="m-2">
                                            <span>
                                                Réponse publiée par&nbsp;
                                                <a href="{{ path('profile_index', {user: reply.user.username}) }}" class="badge badge-light" style="font-size: 15px;">@{{ reply.user.username }}</a>
                                                &nbsp;le {{ reply.createdAt|date("d/m/Y à H:i") }}
                                                {% if reply.createdAt != reply.updatedAt %}
                                                    &nbsp;(modifié le {{ reply.updatedAt|date("d/m/Y à H:i") }})
                                                {% endif %}
                                            </span>
                                            <div class="card">
                                                <div class="card-body">
                                                    <span class="comment-content">{{ reply.content }}</span>
                                                    {% if user == reply.user %}
                                                        <a class="float-right edit-comment-btn" href="#" data-request="{{ path('recipes_edit_comment') }}" data-id="{{ reply.id }}" >Modifier</a>
                                                    {% endif %}
                                                </div>
                                        {% if reply.replies == true %}
                                            {% for reply in reply.replies %}
                                                <div class="m-2">
                                                <span>
                                                    Réponse publiée par&nbsp;
                                                    <a href="{{ path('profile_index', {user: reply.user.username}) }}" class="badge badge-light" style="font-size: 15px;">@{{ reply.user.username }}</a>
                                                    &nbsp;le {{ reply.createdAt|date("d/m/Y à H:i") }}
                                                    {% if reply.createdAt != reply.updatedAt %}
                                                        &nbsp;(modifié le {{ reply.updatedAt|date("d/m/Y à H:i") }})
                                                    {% endif %}
                                                </span>
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <span class="comment-content">{{ reply.content }}</span>
                                                            {% if user == reply.user %}
                                                                <a class="float-right edit-comment-btn" href="#" data-request="{{ path('recipes_edit_comment') }}" data-id="{{ reply.id }}" >Modifier</a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                            </div>
                                            {% if app.user %}
                                                <p><a class="btn btn-sm btn-info" href="#ajout-commentaire" data-request="{{ path('recipes_edit_comment') }}" data-user="{{ reply.user.username }}" data-reply data-id="{{ reply.id }}">Répondre</a></p>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                    </div>
                                    {% if app.user %}
                                        <p><a class="btn btn-sm btn-info" href="#ajout-commentaire" data-user="{{ comment.user.username }}" data-reply data-id="{{ comment.id }}">Répondre</a></p>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% if comments.pages > comments.offset %}
                            <button href="#" data-url="{{ path('recipes_load_comments', {slug: recipe.slug}) }}" data-user="{{ user.username }}" id="load-comments-btn" class="btn btn-sm btn-info" data-offset="1">Charger plus de commentaires</button>
                        {% endif %}
                    </div>
                </div>

                <div class="row" id="ajout-commentaire">
                    <div class="col-12">
                        <div class="mt-2 mb-3 text-left">
                            <h3>Laisser un commentaire</h3>
                        </div>
                        {% if app.user %}
                            <div class="receipe-ratings">
                                {% apply spaceless %}
                                    {% if note == null %}
                                        <div class="ratings stars">
                                            <i class="fa fa-star-o stars-form" aria-hidden="true" data-value="1"></i>
                                            <i class="fa fa-star-o stars-form" aria-hidden="true" data-value="2"></i>
                                            <i class="fa fa-star-o stars-form" aria-hidden="true" data-value="3"></i>
                                            <i class="fa fa-star-o stars-form" aria-hidden="true" data-value="4"></i>
                                            <i class="fa fa-star-o stars-form" aria-hidden="true" data-value="5"></i>
                                        </div>
                                        <input data-request="{{ path('recipes_stars_request', {slug: recipe.slug}) }}" type="hidden" name="note" id="note" value="0">
                                    {% else %}
                                        <div class="ratings stars">
                                            {% for i in 1..note.value %}
                                                <i class="fa fa-star stars-form" aria-hidden="true" data-value="{{ i }}"></i>
                                            {% endfor %}
                                            {% if note.value < 5 %}
                                                {% for i in 1..(5 - note.value) %}
                                                    <i class="fa fa-star-o stars-form" aria-hidden="true" data-value="{{ note.value + i }}"></i>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <input data-request="{{ path('recipes_stars_request', {slug: recipe.slug}) }}" type="hidden" name="note" id="note" value="{{ note.value }}">
                                    {% endif %}
                                {% endapply %}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        {% if app.user %}
                            <div class="contact-form-area mb-3">
                                <div id="elementsForReply" class="pl-3"></div>
                                {{ form_start(form) }}
                                    <div class="col-12">
                                        {{ form_row(form.content) }}
                                        {{ form_row(form.parentid) }}
                                    </div>
                                    <div class="col-12">
                                        <button class="btn delicious-btn mt-30" type="submit">Envoyer</button>
                                    </div>
                                {{ form_end(form) }}
                            </div>
                        {% else %}
                            <div class="mt-3 mb-5">
                                <a class="p-2 m-3" style="border-bottom: 3px solid #4FCCA3;" href="{{ path('app_login') }}">Connexion</a>
                                <a class="p-2 m-3 linkHeader" href="{{ path('app_register') }}">Inscription</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row mt-3">
                    {% if consultedRecipes is empty %}
                        <div class="col-12 mb-3">
                            <h5>Vous pourriez également aimer ces recettes :</h5>
                        </div>
                        {% for recipe in bestRecipesOfsCategory %}
                            <div class="col-12 col-sm-6 col-lg-4">
                                <a href="{{ path('recipes_details', {slug: recipe.slug, category: recipe.categories.parent.slug, sCategory: recipe.categories.slug}) }}">
                                    <div class="single-best-receipe-area mb-30 text-center">
                                        <img style="height: 15rem;" src="{% if recipe.images[0] is defined %}{{ asset('assets/uploads/recipes/' ~ recipe.images[0].name) }}{% else %}{{ asset('assets/img/bg-img/r5.jpg') }}{% endif %}" alt="{{ recipe.title }}">
                                        <div class="receipe-content">
                                            <h5>{{ recipe.title }}</h5>
                                            <div class="ratings">
                                                {% set recipeStars = { recipe } %}
                                                {% include '_partials/_stars.html.twig' with recipeStars %}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="col-12 mb-3">
                            <h5>D'après vos récentes consultations, vous pourriez aimer ces recettes :</h5>
                        </div>
                        {% for recipe in consultedRecipes %}
                            <div class="col-12 col-sm-6 col-lg-4">
                                <a href="{{ path('recipes_details', {slug: recipe.recipe.slug, category: recipe.recipe.categories.parent.slug, sCategory: recipe.recipe.categories.slug}) }}">
                                    <div class="single-best-receipe-area mb-30 text-center">
                                        <img style="height: 15rem;" src="{% if recipe.recipe.images[0] is defined %}{{ asset('assets/uploads/recipes/' ~ recipe.recipe.images[0].name) }}{% else %}{{ asset('assets/img/bg-img/r5.jpg') }}{% endif %}" alt="{{ recipe.recipe.title }}">
                                        <div class="receipe-content">
                                            <h5>{{ recipe.recipe.title }}</h5>
                                            <div class="ratings">
                                                {% set recipeStars = { recipe: recipe.recipe } %}
                                                {% include '_partials/_stars.html.twig' with recipeStars %}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalTitle">Ajouter aux favoris</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group mb-4">
                                <span>Pour sauvegarder cette recette dans vos favoris, veuillez créer un compte ou vous connecter. Ainsi, vous pourrez retrouver facilement la recette que vous souhaitez cuisiner et y accéder à tout moment.</span>
                            </div>
                            <div class="form-group text-center">
                                <a class="p-2 m-3" style="border-bottom: 3px solid #4FCCA3;" href="{{ path('app_login') }}">Connexion</a>
                                <a class="p-2 m-3 linkHeader" href="{{ path('app_register') }}">Inscription</a>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
