{% extends 'base.html.twig' %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/comments.js') }}" defer></script>
    <script src="{{ asset('assets/js/stars.js') }}" defer></script>
{% endblock %}

{% block body %}
    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url({{ asset('assets/img/bg-img/breadcumb3.jpg') }});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-text text-center">
                        <h2>Recette</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <div class="receipe-post-area section-padding-80">

        <!-- Receipe Slider -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="receipe-slider owl-carousel">
                        {% for image in recipe.images %}
                            <img class="{{ (loop.index0 == 0) ? 'active' : '' }}" src="{{ asset('assets/uploads/recipes/') ~ image.name }}" style="width:500px;" alt="{{ recipe.title }}">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Receipe Content Area -->
        <div class="receipe-content-area">
            <div class="container">

                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="receipe-headline my-5">
                            <span>{{ recipe.createdAt | date('d/m/Y') }}</span>
                            <h2>{{ recipe.title }}</h2>
                            <h5 class="mb-5">{{ recipe.description }}</h5>
                            <div class="receipe-duration">
                                <h6>Temps de préparation : {{ recipe.preparationTime }} min</h6>
                                <h6>Temps de cuisson : {{ recipe.cookingTime }} min</h6>
                                <h6>Nombre de portions : {{ recipe.numberOfServings }}</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="receipe-ratings text-right my-5">
                            <div class="ratings">
                                {% apply spaceless %}
                                    {% if noteGeneral == 0 %}
                                        <span class="text-info">Pas de note pour l'instant</span>
                                    {% else %}
                                        {% for i in 1..noteGeneral %}
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        {% endfor %}
                                        {% for i in 1..(5 - noteGeneral) %}
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        {% endfor %}
                                    {% endif %}
                                {% endapply %}
                            </div>
                            <span class="text-center delicious-btn">{{ recipe.difficultyLevel.name }}</span>
                        </div>
                        Créé par&nbsp;<a href="{{ path('profile_user', {user: recipe.user.username}) }}" class="badge badge-light" style="font-size: 15px;">@{{ recipe.user.username }}</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-8">
                        <!-- Single Preparation Step -->
                        {% set counter = 1 %}
                        {% for step in recipe.steps %}
                            <div class="single-preparation-step d-flex">
                                <h4>0{{ counter }}.</h4>
                                <p>
                                    {{ step.description }}
                                </p>
                            </div>
                            {% set counter = counter + 1 %}
                        {% endfor %}
                    </div>

                    <!-- Ingredients -->
                    <div class="col-12 col-lg-4">
                        <div class="ingredients">
                            <h4>Ingrédients</h4>
                            {% for ingredient in recipe.ingredients %}
                                <div style="font-size: 18px;">
                                    <span class="font-weight-bold">{{ ingredient.quantity|number_format(2)|trim('.0')|replace({'.': ','}) }} {{ ingredient.unit.name }} {{ ingredient.name }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 ingredients">
                        <h4>Commentaires</h4>
                        {% if recipe.comments.empty() %}
                            <span>Aucun commentaire pour l'instant</span>
                        {% endif %}
                        {% for comment in recipe.comments %}
                            {% if comment.parent == null %}
                                <div class="my-3">
                                    <span>
                                        Publié par&nbsp;
                                        <a href="{{ path('profile_user', {user: comment.user.username}) }}" class="badge badge-light" style="font-size: 15px;">@{{ comment.user.username }}</a>
                                        &nbsp;le {{ comment.createdAt|date("d/m/Y à H:i") }}
                                        {% if comment.createdAt != comment.updatedAt %}
                                            &nbsp;(modifié le {{ comment.updatedAt|date("d/m/Y à H:i") }})
                                        {% endif %}
                                    </span>
                                    <div class="card">
                                        <div class="card-body">
                                            <span class="comment-content">{{ comment.content }}</span>
                                            {% if user == comment.user %}
                                                <a class="float-right edit-comment-btn" href="#" data-request="{{ path('recipes_edit_comment') }}" data-id="{{ comment.id }}" >Modifier</a>
                                            {% endif %}
                                        </div>

                                {% if comment.replies == true %}
                                    {% for reply in comment.replies %}
                                        <div class="m-2">
                                            <span>
                                                Réponse publiée par&nbsp;
                                                <a href="{{ path('profile_user', {user: reply.user.username}) }}" class="badge badge-light" style="font-size: 15px;">@{{ reply.user.username }}</a>
                                                &nbsp;le {{ reply.createdAt|date("d/m/Y à H:i") }}
                                                {% if reply.createdAt != reply.updatedAt %}
                                                    &nbsp;(modifié le {{ reply.updatedAt|date("d/m/Y à H:i") }})
                                                {% endif %}
                                            </span>
                                            <div class="card">
                                                <div class="card-body">
                                                    <span class="comment-content">{{ reply.content }}</span>
                                                    {% if user == reply.user %}
                                                        <a class="float-right edit-comment-btn" href="#" data-request="{{ path('recipes_edit_comment') }}" data-id="{{ reply.id }}" >Modifier</a>
                                                    {% endif %}
                                                </div>
                                        {% if reply.replies == true %}
                                            {% for reply in reply.replies %}
                                                <div class="m-2">
                                                <span>
                                                    Réponse publiée par&nbsp;
                                                    <a href="{{ path('profile_user', {user: reply.user.username}) }}" class="badge badge-light" style="font-size: 15px;">@{{ reply.user.username }}</a>
                                                    &nbsp;le {{ reply.createdAt|date("d/m/Y à H:i") }}
                                                    {% if reply.createdAt != reply.updatedAt %}
                                                        &nbsp;(modifié le {{ reply.updatedAt|date("d/m/Y à H:i") }})
                                                    {% endif %}
                                                </span>
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <span class="comment-content">{{ reply.content }}</span>
                                                            {% if user == reply.user %}
                                                                <a class="float-right edit-comment-btn" href="#" data-request="{{ path('recipes_edit_comment') }}" data-id="{{ reply.id }}" >Modifier</a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                            </div>
                                            <p><a class="btn btn-sm btn-info" href="#ajout-commentaire" data-reply data-id="{{ reply.id }}">Répondre</a></p>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                    </div>
                                    <p><a class="btn btn-sm btn-info" href="#ajout-commentaire" data-reply data-id="{{ comment.id }}">Répondre</a></p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="row" id="ajout-commentaire">
                    <div class="col-12">
                        <div class="mt-2 mb-3 text-left">
                            <h3>Laisser un commentaire</h3>
                        </div>
                        {% if app.user %}
                            <div class="receipe-ratings">
                                    {% apply spaceless %}
                                        {% if note == null %}
                                            <div class="ratings stars">
                                                <i class="fa fa-star-o stars-form" aria-hidden="true" data-value="1"></i>
                                                <i class="fa fa-star-o stars-form" aria-hidden="true" data-value="2"></i>
                                                <i class="fa fa-star-o stars-form" aria-hidden="true" data-value="3"></i>
                                                <i class="fa fa-star-o stars-form" aria-hidden="true" data-value="4"></i>
                                                <i class="fa fa-star-o stars-form" aria-hidden="true" data-value="5"></i>
                                            </div>
                                            <input data-request="{{ path('recipes_stars_request', {slug: recipe.slug}) }}" type="hidden" name="note" id="note" value="0">
                                        {% else %}
                                            <div class="ratings stars">
                                                {% for i in 1..note.value %}
                                                    <i class="fa fa-star stars-form" aria-hidden="true" data-value="{{ i }}"></i>
                                                {% endfor %}
                                                {% if note.value < 5 %}
                                                    {% for i in 1..(5 - note.value) %}
                                                        <i class="fa fa-star-o stars-form" aria-hidden="true" data-value="{{ note.value + i }}"></i>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                            <input data-request="{{ path('recipes_stars_request', {slug: recipe.slug}) }}" type="hidden" name="note" id="note" value="{{ note.value }}">
                                        {% endif %}
                                    {% endapply %}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        {% if app.user %}
                            <div class="contact-form-area">
                                {{ form_start(form) }}
                                    <div class="col-12">
                                        {{ form_row(form.content) }}
                                        {{ form_row(form.parentid) }}
                                    </div>
                                    <div class="col-12">
                                        <button class="btn delicious-btn mt-30" type="submit">Envoyer</button>
                                    </div>
                                {{ form_end(form) }}
                            </div>
                        {% else %}
                            <span>Vous devez vous connecter pour écrire un commentaire ou noté cette recette</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
